{
    "presets": [
      ["@babel/preset-env", { "targets": { "ie": 11 }, "modules": "cjs" }],
      ["@babel/preset-react"], ["@babel/preset-typescript"]
    ],
    "plugins": ["babel-plugin-styled-components", "@babel/plugin-transform-runtime"]
  }